$off-white: rgb(245, 245, 245);
$lighter-gray: #f1f1f1;
$light-gray: #e6e6e6;
$gray: #bbbbbb;

$text-color: rgb(165, 165, 165);

$text-hover: rgb(138, 193, 224);
$text-on-click: rgb(78, 140, 199);

$tab-border-radius: 8px;

$example-blue: rgb(30, 30, 100);
$alert-blue: rgb(138, 208, 231);
