.dropdown-components {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;

  height: calc(100vh - 60);
  width: 20em;
  background-color: $lighter-gray;

  z-index: 2;
  .dropdown-wrapper {
    align-items: center;
    height: fit-content;
    .dropdown-title {
      transition: 0.2s ease-in-out;
      cursor: pointer;
      color: $text-color;
      font-weight: 300;
      background-color: white;
      padding: 13px;
      padding-left: 20px;
      border: 1px solid $lighter-gray;

      &:hover {
        color: $text-hover;
      }
      &:active {
        color: $text-on-click;
      }
    }
    .dropdown-title-active {
      color: $text-hover;
    }
  }
}
