.button-styles-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  .button-style-wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    .button-style-title {
      font-size: 0.8em;
      color: $text-color;
      font-weight: 500;
      margin-bottom: 5px;

      display: flex;

      .button-include {
        margin-left: 15px;
        font-style: italic;

        input {
          cursor: pointer;
        }
      }
    }

    .button-style-items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .button-style-item {
        .sub-title {
          margin-left: 20px;
          font-size: 0.9em;
          color: $text-color;
        }
        .color-input-wrapper {
          margin-left: 20px;
        }
      }
    }
  }
}
